a{
			font-size: 30px;
			text-decoration: underline;
			color: white;
			font-weight: bold;
			padding: 20px;
		}
a:hover{
	color: red;
	font-weight: bold;
	text-decoration: none;
}

		body{
		text-align: center;
		background: url("http://i.imgur.com/WQX3Vvx.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		color: black;
		font-size: 20px;
	}
	h2{
		position: relative;
	}
